body{
    background-color: lightskyblue;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
#key-details-box {
    background-color: whitesmoke;
    border: 5px solid lightgray;
    width: 400px;
    height: 500px;
    padding: 10px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#key-pressed-box{
    width: 200px;
    height: 200px;
    background-color: lightgray;
    border-radius: 25px;
    box-shadow: 0px 5px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#key-pressed{
    font-size:100px;
}

#key-details p {
    font-size: 25px;
    text-align:left;
}
